{% extends "base.html" %}

{% block content %}
  {% load crispy_forms_tags %}
  <div class="container">
    <div class="card mb-3">
      <div class="card-header">
        <h2>{{ post.title }}</h2>
        <i>{{ post.owner }}, {{ post.created_time }}</i>
      </div>
      <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
      </div>
    </div>
    <p>{{ post.commentary_set.count }} comment</p>
    {% for comment in post.commentary_set.all %}
      <div class="card mb-2">
        <div class="card-header">
          {{ comment.user }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ comment.content }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

<div class="mt-4">
  <h3>Add new comment:</h3>
  {% if user.is_authenticated %}
  <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <button type="submit" class="btn btn-primary mt-3">Send</button>
  </form>
  {% endif %}
</div>
{% endblock %}


