{% extends "base.html" %}
{% block content %}
  <h1>Blog</h1>
  <h3>Titles:</h3>
  <ul>
    {% for post in page_obj %}
      <li>
        <a href="{% url 'blog:post-detail' post.pk %}"><h4>{{ post.title }}</h4></a>
        <i>{{ post.owner }}, {{ post.created_time }}</i>
        <p>{{ post.content }}</p>
        Number of comments: {{ post.commentary_set.count }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block pagination %}
  <ul class="pagination">
    {% if page_obj.has_other_pages %}
      <li class="page-item">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Назад</a>
        {% endif %}
      </li>
      <li class="page-item active">
        <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
      </li>
      <li class="page-item">
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="page-link">Вперед</a>
        {% endif %}
      </li>
    {% endif %}
  </ul>
{% endblock %}
